@import "bourbon/bourbon";
$core-color: #3e3e3e;

body {
	background-color: $core-color;
	color: lighten( $core-color, 40% );
}
header {
	margin-top: 50px;
}

#wrapper {
	// z-index: -999;
	// border: 4px solid yellow;
	overflow: hidden;
	
}
	

.hero-unit {
		// border: 4px solid red;
		height: 600px;
		// background: url("img/hero-bg.jpg");
		background-size: cover;
		background-attachment: fixed;
		overflow: hidden;

		// display: flex;
		// align-items: center;
	 // 	justify-content: center;

		// @include filter(blur(2px) grayscale(10%) opacity(.7) brightness(.6) );
		// #video-container {
		// 	width: 100%;
		// 	z-index: -100;
		// 	position: fixed;
		// }

	

	header {
		// border: 1px solid yellow;
		margin: 10rem auto 0;
		padding: 10rem;
		width: 60%;
		background-color: transparentize( $core-color, .5 );
		// z-index: 100;


		// display: flex;
	 // 	align-items: center;
	 // 	justify-content: center;

		
			h1 {
				// font-size: 8rem;
				// padding-top: 14rem;
			
			small {
				color: lighten( #3e3e3e, 40% );

			}
		}


	}


	img {
		@include filter(blur(2px) grayscale(10%) opacity(.7) brightness(.6) );

		// @include filter(grayscale(100%));
		// @include filter(opacity(.5));
		// @include filter(brightness(.8));

		position: fixed;
		top: 0;
		height: 60%;
		max-width: 100%;
		width: 100%;
		z-index: -100;
	}

}

section {
	// margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: black;
	z-index: -100;
}

// .first-section {
		// border: 1px solid red;
// }

.second-section {
	// border: 1px solid red;
	// background: url("img/second-section.jpg");
	// background-size: cover;
	// background-attachment: fixed;
	// overflow: hidden;
		height: 500px;
		padding-top: 0rem;
		padding-bottom: 0rem;
		position: relative;
		overflow: hidden;
		position: relative;

	.video-container {
		height: 500px;

		background-color: transparentize( $core-color, .2 );
		// position: absolute;


		video#second-section-video {
			position: absolute;
			right: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: -99;
			background: url("img/second-section.jpg") no-repeat;
			background-size: cover;
		}

		.text-content {
			position: absolute;
			top: 6rem;
		}

	}

}

.third-section {
		// border: 1px solid red;
	

}

.fourth-section {
	// border: 1px solid red;
	// background: url("img/fourth-section.jpg");
	background-size: cover;
	background-attachment: fixed;
	

}








































